[submodule "lib/cosmology"]
	path = lib/cosmology
	url = git@github.com:euclidean-dreams/cosmology.git

[submodule "lib/cmake-utils"]
	path = lib/cmake-utils
	url = git@github.com:euclidean-dreams/cmake-utils.git
[submodule "lib/perception"]
	path = lib/perception
	url = git@github.com:euclidean-dreams/perception.git
