<!doctype html>
<html lang="en-us" class="background">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>euclid</title>
    <link rel="stylesheet" type="text/css" href="static/style.css" media="screen"/>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">

</head>

<body>
<div id="overlay" onclick="disappear(this)">
    <span id="title">
        Click to Begin.
    </span>
</div>

<canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" tabindex=-1></canvas>

<script type='text/javascript'>
    function disappear(element) {
        element.remove();
    }

    var Module = {
        canvas: (function () {
            var canvas = document.getElementById('canvas');
            canvas.addEventListener("webglcontextlost", function (e) {
                alert('WebGL context lost. You will need to reload the page.');
                e.preventDefault();
            }, false);
            return canvas;
        })()
    };
</script>
<script async type="text/javascript" src="static/euclid.js"></script>
</body>

</html>

<!--

An exploration of whimsical cosmologies.
In time, there will be more.
Source Code: github.com/euclidean-dreams/euclid

(~)

-->
